doctype html
html
	head
		title AMGC | Automatic Music Genre Classification
		link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/solid.css', integrity='sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css', integrity='sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P', crossorigin='anonymous')
	body
		.container
			block content
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
		script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js')
		script(src='/javascripts/main.js')